@model NSysmon.Collector.Api.NodeListViewModel
@using System.Web
@using NSysmon.Collector
<html>
<head>
    <title>Node Status</title>
</head>
<body>
    <p>
        <span><a href="~/api/nodes">Nodes</a></span>
    </p>
    <h1>Nodes</h1>
    <h5>
        <a href="~/api/nodes?type=json">As JSON</a>
        | <a href="~/api/nodes?type=json&includeData=true">As JSON w/ Data</a>
    </h5>
    <table>
        <thead>
            <tr>
                <th>Node Type</th>
                <th>Unique key</th>
                <th>Monitor Status</th>
                <th>Poller Count</th>
                <th>Last Poll (duration)</th>
                <th>Poll Task Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (dynamic node in Model.Nodes)
            {
                <tr>
                    <td>@node.NodeType</td>
                    <td>
                        <a href="~/Api/node/@(HttpUtility.UrlEncode((string)node.NodeType))/@(HttpUtility.UrlEncode((string)node.UniqueKey))/status">@node.UniqueKey</a>
                    </td>
                    <td>@node.MonitorStatus.ToString() - @node.MonitorStatusReason</td>
                    <td>@node.PollerCount</td>
                    <td title="@(((DateTime?)node.LastPoll).ToRelativeTime())">@(((DateTime?)node.LastPoll).ToRelativeTime()) (@node.LastPollDuration.TotalMilliseconds ms)</td>
                    <td>@node.PollTaskStatus</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>